@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000000;
  background: linear-gradient(
    to right bottom,
    #d1a26b,
    #cc9b66,
    #c79360,
    #c18c5b,
    #bc8556,
    #b67f50,
    #b17a4b,
    #ab7445,
    #a36e3e,
    #9b6937,
    #946330,
    #8c5e29
  );
  font-family: "Old Standard TT", serif;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
  background: url(../public/grain.png) #ffffff59;
  opacity: 0.4;
}
h2,
h1 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  padding-bottom: 15px;
}
