@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000000;
  background: linear-gradient(
    to right bottom,
    #d1a26b,
    #cc9b66,
    #c79360,
    #c18c5b,
    #bc8556,
    #b67f50,
    #b17a4b,
    #ab7445,
    #a36e3e,
    #9b6937,
    #946330,
    #8c5e29
  );
  font-family: "Old Standard TT", serif;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  min-height: 100vh;
  min-width: 100vw;
  /*z-index: 1;*/
  background: url(../public/grain.png) #ffffff59;
  opacity: 0.4;
}

h2,
h1 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  padding-bottom: 15px;
}

a {
  @apply text-black transition-colors duration-200;
}

.link_home {
  cursor: pointer;
}

a:hover,
.link_home:hover {
  @apply text-white;
}

.burger {
  @apply block cursor-pointer;
}

.burger > div {
  @apply h-1 w-9 bg-black my-1;
}
.burger > div {
  @apply transition-transform ease-in-out duration-300;
}

.open .burger > div:nth-child(1) {
  @apply rotate-45 translate-y-2.5;
}

.open .burger > div:nth-child(2) {
  @apply opacity-0;
}

.open .burger > div:nth-child(3) {
  @apply -rotate-45 -translate-y-1.5;
}

.nav_elmt1 {
  @apply hidden md:flex;
}

.nav-wrapper.open .nav_elmt1 {
  @apply flex gap-3 p-5 justify-center items-center  md:flex-row;
}
.nav-wrapper.open {
  @apply h-36 bg-[rgb(222,199,181)];
}
.icon_box {
  @apply border-2 border-double border-black grid place-items-center bg-whine_transp w-12 h-12 rounded-full;
}
.nav-wrapper {
  height: 100px;
}
.logo {
  width: 60px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.687);
  margin-right: auto;
  transition: color 0.3s ease;
}

/***contact***/

/**RESPONSIVE**/
@media (min-width: 650px) {
  .link_home {
    padding: 10px 50px;
  }
  .responsive-img {
    width: 400px;
    height: auto;
  }
  .choose {
    grid-template-columns: 1fr 1fr;
  }
  .portefolio_items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 748px) {
  .burger {
    @apply hidden;
  }

  .nav_elmt1 {
    @apply flex gap-4;
    align-items: center;
  }

  .choose {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .img_dev_destop {
    width: 550px;
  }
  .img_dev_mobile {
    width: 450px;
  }
}
@media (min-width: 1000px) {
  h1,
  h2 {
    font-size: 35px;
  }
  p,
  a {
    font-size: 20px;
  }

  .plusweb2 {
    padding: 30px;
  }
  .img_dev_destop {
    width: 800px;
  }
  .img_dev_mobile {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .header {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 10px 20px;
    gap: 60px;
  }
  .frame {
    width: 22rem;
  }
  .portefolio_items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .responsive-img {
    width: 550px;
  }
  h1,
  h2 {
    font-size: 40px;
  }
  .stars1 {
    left: 37px;
  }
  .stars2 {
    left: 41px;
  }
  p,
  a {
    font-size: 22px;
  }
  .choose_valeur img {
    width: 400px;
  }
  .plusweb2 {
    padding: 30px;
  }
  .img_dev_destop {
    width: 850px;
  }
  .responsive-img,
  .img_dev_mobile {
    width: 450px;
  }
}
@media (min-width: 1300px) {
  .img_dev_destop {
    width: 950px;
  }

  .img_dev_mobile {
    width: 500px;
  }
}
